h1{
  color: MidnightBlue;
  font-family: Impact;
  text-align: center;
}
h2{
  color: Navy;
}
h3{
  color: Navy;

}

h5{
  text-align: center;
  font-style: italic;
}
hr{
  background: Navy;
  border: 0;
  height: 2px;
}
body{
  font-family: arial;
  background-color: LightBlue;
  font-size: 1.7rem;
}

table{
  width: 100%;
  font-size: 1.7rem;

}
table.iscrizione{
  font-family: arial;
  background-color: Khaki;
  border: 2px solid black;
}
td.iscrizione{
  border: 1px solid black;
}
td{
  width: 33%;
  text-align: center;
}
img{
  margin-left:auto;
  margin-right: auto;
  display: block;
}
