h1{
  color: MidnightBlue;
  font-family: Impact;
  text-align: center;
}
h2{
  color: Navy;
}
h3{
  color: Navy;
}
hr{
  background: Navy;
  border: 0;
  height: 2px;
}
body{
  font-family: arial;
  background-color: LightBlue;
  font-size: 1.7rem;
}
table {
  font-family: arial;
  background-color: Khaki;
  font-size: 1.7rem;
  table-layout : auto;
border: 2px solid black;
border-collapse: separate;
border-spacing: 10px;
}
