h1{
  color: MidnightBlue;
  font-family: Impact;
  text-align: center;
}
h2{
  color: Navy;
}
hr{
  background: Navy;
  border: 0;
  height: 1px;
}
body{
  font-family: arial;
  background-color: LightBlue;
  font-size: 1.3rem;
}
table {

  border-collapse: separate;


}
